<% render '_layout', title: start_date.strftime("%b %Y") do %>
    <section id="intro" class="feature">
        <div class="row logo">
          <div id="intro-desc" class="large-12 columns">
            <a href="http://www.thoughtworks.com" target="_blank"
               onclick="ga('send', 'event', 'tw', 'tw')" class="tw-logo">
              <img src="./img/tw-logo-white.png" alt="ThoughtWorks" align="center"/>
            </a>

            <h1>vodQA Gurgaon</h1>

            <h6>'vodQA' - a platform for our peers in the software testing industry to strengthen the QA community by
              sharing and learning new practices and ideas.
              'vodQA' offers a unique opportunity to interact with people who are equally passionate about software
              testing and continuously strive to better the art.


            </h6>
                <% if @item[:subheader] %>
                    <h5 class="subheader">
                        <%= @item[:subheader] %> <br />
                        <% if @item[:subnote] %>
                            <small><%= @item[:subnote] %></small>
                        <% end %>
                    </h5>
                <% end %>
            </div>
        </div>

        <div class="row countdown">
            <div class="small-8 small-offset-2 large-8 large-offset-2 columns date">
                <p><%= @item[:edition] %><sup><%= @item[:edition].ordinal %></sup> edition</p>
                <h4><%= start_date.strftime("%b %-d %Y") %></h4>
            </div>
        </div>
    </section>

    <%= render '_about_section' %>

    <%= render '_agenda_section' %>

    <%= render '_archive_section' %>

    <%= render '_header_section', :page => 'archive' %>

    <%= render '_footer_section' %>
<% end %>
